.navigation {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(134, 54, 54);
    box-shadow: 1px 0 2em black;
    z-index: 999;
}
.logoContainer {
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 2em;
}
.logoContainer .logo {
    width: 100%;
}
.navContainer {
    min-width: 380px;
    height: 100%;
    margin: 0 auto;
    float: right;
    text-align: center;
}
.navList {
    height: 100%;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navItem {
    height: 100%;
    float: left;
    padding: 0 15px 0 15px;
    display: grid;
    align-items: center;
}
.navItem:hover {
    background: rgb(102, 38, 38);
}
.navItem>a {
    height: 100%;
    display: grid;
    align-items: center;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: .08em;
    text-transform: capitalize;
    text-decoration: none;
}
.navItem>a:hover {
    color: white;
    text-decoration: none;
}
